<settings-ui> 
    <h2 class="pageheader">Settings</h2>
    <h3 id="themeheader">Theme</h3>
    <ul id="swatch">
        <li><div class="swatchcolor" id="swatchcolor0"></div></li>
        <li><div class="swatchcolor" id="swatchcolor1"></div></li>
        <li><div class="swatchcolor" id="swatchcolor2"></div></li>
        <li><div class="swatchcolor" id="swatchcolor3"></div></li>
        <li><div class="swatchcolor" id="swatchcolor4"></div></li>
        <li><div class="swatchcolor" id="swatchcolor5"></div></li>
        <li id="swatchedit" style="float:right;" onclick="showmethis('themepickerwrapper',id)">Change</li>
    </ul>
    <div id="themepickerwrapper">
        <ul id="themepickerlist">
            <li id="default">
                <ul id="spaceship" class="swatchselect">
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li>eTho</li>
                </ul>
            </li>
            <li id="default">
                <ul id="spaceship" class="swatchselect">
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li>Spaceship</li>
                </ul>
            </li>
            <li>
                <ul id="cs04" class="swatchselect">
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li>CS04</li>
                </ul>
            </li>
            <li>
                <ul id="amongstthecrowds" class="swatchselect">
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li>Amongst The Crowds</li>
                </ul>
            </li>
            <li>
                <ul id="cloudinthesky" class="swatchselect">
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li><div class="swatchcolorli"></div></li>
                    <li>Cloud In The Sky</li>
                </ul>
            </li>
        </ul>
        
    </div>
</settings-ui>

    
