<html>
<head>
	<title>Sample On/Off Demo</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
	<div style="border:1px solid black;">
		<h3>Toggle the Light from here:</h3>
		<button id="toggle">Toggle Light</button></br></br>
		Current State: <span id="light_status">Error</span><br/>
		<br/>Toggle Result:
		<ul id="success"></ul>
		Toggle Error:
		<ul id="error"></ul>
	</div>
	<br/>
	<div style="border:1px solid black;">
		<h3>Control the actuator from here:</h3>
		<input type="text" name="actuator_input">
		<button id="actuator">Submit</button></br></br>
		Current State: <span id="light_status">Error</span><br/>
		<br/>Toggle Result:
		<ul id="success"></ul>
		Toggle Error:
		<ul id="error"></ul>
	</div>


	<script type="text/javascript">
	var btn = $('#toggle');
	btn.on('click',function(){
		console.log('click');
		$.ajax({
			url:"/toggleSample",
			success:function(data){
				$('#success').append('<li>'+data+'</li>');
			},
			error:function(data){
				$('#error').append('<li>'+data+'</li>');
			}
		});
	});
	</script>


</body>
</html>